form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;

}

form input {
    width: 500px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: 'Courier New', Courier, monospace;
}

textarea {
    width: 500px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: #000000;
    cursor: pointer;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
}
.contactHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4.5rem;
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 500px) {
    form input {
        width: 300px;
    }
    textarea {
        width: 300px;
    }
    button {
        width: 200px;
    }
    .contactHeader {
        margin-top: 4rem;
    }
}
    