@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.title-one {
    font-size: 2rem;
    font-weight: bold;
    margin: 0px;
    padding-top: 50px;
    padding-left: 50px;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
}
.sub-heading-one {
    color: rgb(0, 0, 0);
    font-size: 1rem;

}

.projects-page{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
}

.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-one, .project-two, .project-three, .project-four, .project-five {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
}