@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.title-one {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    margin: 0px;
    color: rgb(0, 0, 0);
    font-family: 'courier new', monospace;
    padding-left: 10px;
    padding-bottom: 20px;
}

.projects-page {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding-top: 30px;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 50px;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: center;
    align-items: center;
}

.project-card {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 50px;
    font-family: 'courier new', monospace;
    font-size: 0.8rem;
    border: 1px solid rgb(0, 0, 0);
}

.project-title {
    margin-top: 10px;
    text-align: center;
}

.project-description {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'courier new', monospace;
    text-align: center;


}


.project-image {
    width: 235px;
    height: auto;
    border-bottom: 0.5px solid rgb(0, 0, 0);
}

.projects-page,
.projects-container,
.project-one,
.project-two,
.project-three,
.project-four,
.project-five {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.projects-page.visible,
.projects-container.visible,
.project-one.visible,
.project-two.visible,
.project-three.visible,
.project-four.visible,
.project-five.visible {
    opacity: 1;
    transform: translateY(0);
}
