.social-section {
    padding-top: 10px;
}
.social-heading {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    margin: 0px;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
}

.social-icons {
    padding-left: 20px;
}

.icon {
    font-size: 2.5rem;
    padding-right: 20px;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
}



